@{
    ViewData["Title"] = "Laboratory";
}

<div class="text-center">
    <h1 class="display-4">Laboratory</h1>
    
    <section>
        <a asp-area="" asp-controller="Laboratory" asp-action="AdministrationRequest">Create Administration Request</a>
    </section>
</div>